<div class="container my-3">
  <h1 class="container-header">My Bookings</h1>
  <div class="card-container">
    <% @bookings.each do |booking| %>
      <% if policy(Booking).show? %>
          <div class="card-product">
            <%= cl_image_tag booking.minion.photo.key, height: 300, width: 400, crop: :fill %>
            <%= link_to booking_path(booking) do %>
            <div class="card-product-infos">
              <h2>Minion: <%= booking.minion.name %></h2>
              <p>Date: <%= booking.start_date %> - <%= booking.end_date%></p>
            </div>
            <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <h1 class="container-header">My Minions' bookings</h1>
  <div class="card-container">
      <% @hosted_bookings.each do |booking| %>
        <% if policy(Booking).show? %>
            <div class="card-product">
              <%= cl_image_tag booking.minion.photo.key, height: 300, width: 400, crop: :fill %>
              <%= link_to booking_path(booking) do %>
              <div class="card-product-infos">
                <h2>Minion: <%= booking.minion.name %></h2>
                <p>Date: <%= booking.start_date %> - <%= booking.end_date%></p>
              </div>
              <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
