<h1><%=@booking.start_date%> to <%=@booking.end_date%></h1>
<p>status: <b><%=@booking.status%></b></p>
<p>hosted by: <b><%=@booking.user.username%></b></p>
<p>minion: <b><%=@booking.minion.name%></b></p>
<img src=<%=@booking.minion.photo%>
