<h1><%=@booking.start_date%> to <%=@booking.end_date%></h1>
<p>status: <b><%=@booking.status%></b></p>
<p>Owner: <b><%= @booking.minion.user.username %></b></p>
<% if @booking.minion.user_id == current_user.id && @booking.status === 'pending' %>
  <p>requested by: <b><%=@booking.user.username%></b></p>
    <%= simple_form_for @booking do  |t| %>
      <%# <%= t.input :status, value: "Decline" %>
      <%= t.input :status, input_html: {value: 'Decline', class: 'd-none'}, label: false %>
      <%= t.submit "Decline", class: "btn btn-red" %>
    <% end %>

    <%= simple_form_for @booking do  |t| %>
      <%= t.input :status, input_html: {value: 'Accept', class: 'd-none'}, label: false %>
      <%= t.submit "Accept", class: "btn btn-blue" %>
    <% end %>

<% else %>
  <p>hosted by: <b><%=@booking.user.username%></b></p>
<% end %>
<p>minion: <b><%=@booking.minion.name%></b></p>
<img src=<%=@booking.minion.photo%>
