<h1>Hello <strong><%= current_user.username %></strong></h1>
<br>
<br>
<p>Email: <%= current_user.email %></p>
<p>Full name: <%= current_user.first_name %> <%= current_user.last_name %></p>
<%= link_to 'Edit profile', edit_user_registration_path(current_user), class: 'btn-blue'%>
<div>
  <h3>My minions:</h3>

  <div class="card-container-my-minions">
        <% @owned_minions.each do |minion| %>
          <% if policy(Minion).show? %>
          <div class="card">
              <% if minion.photo.attached?  %>
                <img src="<%= cl_image_path minion.photo.key %>" alt="">
               <% else %>
                <img src='https://i.pinimg.com/736x/95/a1/95/95a195e665368324f79aeb0904e95d6d--happy-valentines-day-minions-quotes.jpg'  alt="">
               <% end %>
              <div class="card_text-container">
                <div class="d-flex justify-content-between">
                  <p><strong><%= minion.name %></strong></p>
                  <p><i class="fa-solid fa-star"></i> 5.0</p>
                </div>
                <p>Skills: <%= minion.skills %></p>
                <p><strong>€ <%= minion.price_per_day %></strong></p>
              </div>
              <%= link_to 'Find out more', minion_path(minion), class: 'btn btn-blue' %>
            </div>
          <% end %>
        <% end %>
      </div>
</div>
