<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

<div class="container">
<nav>
  <ul>
    <li>
      <span class="icon_minion_flex">
        <%= image_tag "minion.png", width: 40 %>
        <span>Airminions</span>
      </span>
    </li>
    <li>
    <form action="search" class="form_flex">
      <input class='search_input' name="name" type="text" placeholder='what do you look for?'>
      <button><i class="fas fa-search"></i></button>
    </form>
    </li>
    <% if user_signed_in? %>
      <li>
        <div class="sign_in_nav">
        <%= link_to "Log out",  destroy_user_session_path, method:  :delete%>
        <%= link_to "host a minion", new_minion_path %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        </div>
      </li>

  </ul>
    <% else %>
    <li><%= link_to "sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %></li>
    <% end %>
</nav>

</div>
