
<div class="container" style="margin-bottom:30px">
<h1>Edit <%= @minion.name %></h1>
<div class="form-inputs">
  <%= simple_form_for @minion, data: { turbolinks: false } do |f| %>
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :description, required: false %>
    <%= f.input :skills, required: false %>
    <%= f.input :price_per_day, required: true%>
    <%= f.input :address, required: false%>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
  <% end %>
</div>
