<div class='container'>
  <div class="row">
    <div class="col-6">
     <div class="nav-filter">
      <p><strong>+ <%= Minion.count %> Minions for you</strong></p>
      <%# <button type="button" class="btn btn-white" data-toggle="modal" data-target="#exampleModal">
          Filter <i class="fa-solid fa-sliders"></i> #placeholder
      </button> %>
     </div>
     <div class="card-container-index my-3">
        <% @minions.each do |minion| %>
          <% if policy(Minion).show? %>
          <div class="card">
              <% if minion.photo.attached?  %>
                <%= cl_image_tag minion.photo.key, height: 300, width: 250, crop: :fill, class: "card-image" %>
               <% else %>
                <img src='https://i.pinimg.com/736x/95/a1/95/95a195e665368324f79aeb0904e95d6d--happy-valentines-day-minions-quotes.jpg'  alt="">
               <% end %>
              <div class="card_text-container">
                <div class="d-flex justify-content-between">
                  <p><strong><%= minion.name %></strong></p>
                  <p><i class="fa-solid fa-star"></i> 5.0</p>
                </div>
                <p>Skills: <%= minion.skills %></p>
                <p>17km away</p>
                <p><strong>€ <%= minion.price_per_day %></strong></p>
              </div>
              <%= link_to 'Find out more', minion_path(minion), class: 'btn btn-blue' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div style="width: 100%; height: 600px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
