<div class='container'>
  <div class="row">
    <div class="col-6">
     <div class="nav-filter">
      <p><strong>+ <%= Minion.count %> Minions for you</strong></p>
      <%# <button type="button" class="btn btn-white" data-toggle="modal" data-target="#exampleModal">
          Filter <i class="fa-solid fa-sliders"></i> #placeholder
      </button> %>
     </div>
     <div class="card-container-index">
        <% @minions.each do |minion| %>
          <% if policy(Minion).show? %>
          <div class="card">
              <img src='<%= minion.photo %>' alt="minion image">
              <div class="card_text-container">
                <div class="d-flex justify-content-between">
                  <p><strong><%= minion.name %></strong></p>
                  <p><i class="fa-solid fa-star"></i> 5.0</p>
                </div>
                <p><%= minion.skills %></p>
                <p>17km away</p>
                <p><strong>€ <%= minion.price_per_day %></strong></p>
              </div>
              <%= link_to 'Find out more', minion_path(minion), class: 'btn btn-blue' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div style="width: 100%; height: 600px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
