<div class="container">
  <div class="row">
    <div class="col-5">
      <h1>Hello from <b><%=@minion.name %></b>!</h1>
      <p><i class="fa-solid fa-star"></i> <span>(5.0) Review</span> - Skills: <b><%= @minion.skills %></b></p>
      <p>Owner: <b><%= @minion.user.username %></b></p>
      <div class="edit-and-delete">
        <% if current_user != nil %>
          <% if @minion.user_id === current_user.id %>
            <%= link_to 'Edit', edit_minion_path, class: 'btn-blue'%>
            <%= link_to 'Delete', minion_path(@minion), method: :delete, class: 'btn-red'%>
          <% end %>
        <% end %>
      </div>
    </div>
      <div class="col-7">
        <div class="horizontal-img-flex">
          <img src="https://www.pngmart.com/files/12/Group-Minions-PNG-Photo.png" alt="minions" style="width:70%">
          <div class="vertical-img-flex">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQReA1iUrEWlfKzNJ4n0JsUjdjW8tDQA48NTw&usqp=CAU" alt="minions">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_kMCoDNbUpGMqY0jYnBrbX_wrNNwJJwnxZA&usqp=CAU" alt="minions">

            <%# <img src="<%= @minion.photo" alt="Minion photo">  %>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-8">
      <h2>Know more about <b><%= @minion.name %></b>!</h2>
      <% if @minion.description.nil? %>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      <% else %>
        <p><%= @minion.description %></p>
      <% end %>
    </div>
    <div class="col-4">
      <%= simple_form_for @booking do  |t| %>
        <%= t.input :minion_id, :as => :hidden, :input_html => { :value => @minion.id } %>
        <%= t.input :start_date, as: :date %>
        <%= t.input :end_date, as: :date%>
        <%= t.submit "Book now", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</div>
