<div class='my-2'>
  <div class="banner">
    <div class="banner_container">
      <h1><strong>Uh, la cucaracha?</strong></h1>
      <p>Browse through millions of Minions and find your perfect match.</p>
      <%= link_to 'Discover all minions', minions_path, class: 'btn-blue' %>
      <img src="https://www.pngmart.com/files/12/Group-Minions-PNG-Photo.png" alt="minions">
    </div>
  </div>
  <div class="container">
  <h2>Explore the best Minions</h2>
  <div class="container card-container">
      <% @minions.take(3).each do |minion| %>
        <div class="card">
          <%= cl_image_tag("rwem4o6upgy6ojelic1w",
                            width: 300, height: 300) %>
          <div class="card_text-container">
            <div class="d-flex justify-content-between">
              <p><strong><%= minion.name %></strong></p>
              <p><i class="fa-solid fa-star"></i> 5.0</p>
            </div>
            <p><%= minion.skills %></p>
            <p>17km away</p>
            <p><strong>€ <%= minion.price_per_day %></strong></p>
          </div>
          <%= link_to 'Find out more', minion_path(minion), class: 'btn btn-blue' %>
        </div>
      <% end %>
  </div>
</div>
